@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
    margin: 0; padding: 0; border: 0;
}

body {
    font: 18px/30px Sans-serif; color: black;
}

section {
    overflow-x: hidden; height: 700px;
}

.image{
    height:250px;
}


#may_2014 { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: white;
}

    .may_1{
        position: relative; top: 160px; right:-1000px;
        z-index:-9999px;
        transform:rotate(7deg);
        -ms-transform:rotate(7deg); /* IE 9 */
        -webkit-transform:rotate(7deg); /* Opera, Chrome, and Safari */
    }

    .may_2{
        position: relative; top: 45px; left: 55px;
        z-index:-9999px;
        transform:rotate(-7deg);
        -ms-transform:rotate(-7deg); /* IE 9 */
        -webkit-transform:rotate(-7deg); /* Opera, Chrome, and Safari */
    }

#april { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: url('images/orange.png');
}

    .april_1{
        /*position:relative; top: -10px; left:100px;*/
        z-index:-9999px;
        transform:rotate(-7deg);
        -ms-transform:rotate(-7deg); /* IE 9 */
        -webkit-transform:rotate(-7deg); /* Opera, Chrome, and Safari */
    }

    .april_2{
        position:relative; top: 100px; left:55px;
        z-index:-9999px;
        transform:rotate(7deg);
        -ms-transform:rotate(7deg); /* IE 9 */
        -webkit-transform:rotate(7deg);
    }

    .april_3{
        position:absolute; top: 60px; right:100px;
         z-index:-9999px;
        transform:rotate(10deg);
        -ms-transform:rotate(10deg); /* IE 9 */
        -webkit-transform:rotate(10deg);
    }

    .april_4{
        position:absolute; top: 300px; right:100px;
         z-index:-9999px;
        transform:rotate(-15deg);
        -ms-transform:rotate(-15deg); /* IE 9 */
        -webkit-transform:rotate(-15deg);
    }

    .april_5{
         position:absolute; top: 200px; right:300px;
         z-index:-9999px;
        transform:rotate(-5deg);
        -ms-transform:rotate(-5deg); /* IE 9 */
        -webkit-transform:rotate(-5deg);
    }

#march { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: url("images/teal.png");
}
    .march_1{
        position:absolute; top:50px;
        z-index:-9999px;
        transform:rotate(-10deg);
        -ms-transform:rotate(-10deg); /* IE 9 */
        -webkit-transform:rotate(-10deg);
    }

    .march_2{
        position:absolute; top:380px; right:50px;
        z-index:-9999px;
        transform:rotate(10deg);
        -ms-transform:rotate(10deg); /* IE 9 */
        -webkit-transform:rotate(10deg);
    }

#february { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: url("images/pink.png");
}

#january { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: url("images/wet_snow.png");
}

#december { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: url("images/christmas.jpg");
}

#november { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: url("images/food.png");
}

#october { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: url("images/blue.png");
}

#september { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: url("images/purty_wood.png");;
}

#august { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: url("images/wall4.png");
}

#july { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: url("images/lime_green.png");
}

#june { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: url("images/starring.png");
}

#may_2013 { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: url("images/notebook.png");
}   
