body {
	font-family: 'Open Sans', sans-serif;
}

/*Top Half*/

/*Logo*/
.st-logo-wrapper {
	margin-top: 35px;
	text-align: center;
}

.st-logo {
	height: 65px;
}

/*header title*/
.title-wrapper, .monitor-form-content {
	margin-top: 70px;
}

.title-wrapper {
	text-align: center;
}

.title-text {
	height: 37px;
	color: #5E6063;
}

/*Monitor img and form content*/
.monitor-form-content {
	text-align: center;
	margin-bottom: 70px;
}


/*Monitor img*/
.monitor-img-wrapper {
	margin-bottom:30px;
}

.monitor-img {
	width: 457px;
}

.monitor-img-wrapper, .sign-up-form-wrapper {
	display: inline-block;
	padding: 0 40px;
}

/*Sign up form*/
.sign-up-form-wrapper {
	margin: 0 auto;
	vertical-align: top;
}

.sign-up-input {
	font-size: 18px;
	color: #494949;
	border-radius: 5px;
	border: solid 3px #cbd1d4;
	display: block;
	margin-bottom: 20px;
	padding: 13px;
	width: 350px;
	-webkit-text-fill-color: #494949;
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

.sign-up-input:focus {
	outline: none;
}

.sign-up-input:focus {
	border: solid 3px rgb(203,85,153);
  	box-shadow: 0 0 5px 1px rgb(203,85,153);
}

.sign-up-input::-webkit-input-placeholder {
	-webkit-text-fill-color: #cbd1d4;
}

.insider-subscription-wrapper {
	font-size: 18px;
	font-weight: bold;
	height: 24px;
	margin-bottom: 20px;
	text-align: left;
}

.insider-subscription-checkbox:not(old) {
 	font-size: 20px;
 	margin: 0;
 	opacity: 0;
 	padding: 0;
 	height: 20px;
 	width: 20px;
}

input[type=checkbox].insider-subscription-checkbox:hover {
	cursor: pointer;
}

input[type=checkbox].insider-subscription-checkbox:not(old) + label {
 	display: inline-block;
  	line-height: 20px;
  	margin-left: -32px;
  	margin-right: 20px;
}

input[type=checkbox].insider-subscription-checkbox:not(old) + label > span {
 	border: 2px solid #494949;
  	border-radius: 3px;
 	background: white;
 	display: inline-block;
  	height: 20px;
  	width: 20px;
  	margin: 0px 8px 3px 8px;
  	vertical-align: middle;
}

input[type=checkbox].insider-subscription-checkbox:not(old):checked + label > span:before {
 	content: '✓';
  	display: block;
  	width: 20px;
  	color: #494949;
  	font-size: 20px;
  	line-height: 12px;
  	text-align: center;
  	font-weight: bold;
  	margin: 2px -3px;
}	

.blue-button {
	background-color: #49C6B7;
	border: none;
	border-radius: 5px;
	padding: 22px 0;
	width: 100%;
}

.blue-button:hover {
	background-color: #2AB0A2; 
}

.blue-button-link {
	color: white;
	font-size: 21px;
}

.blue-button-link:hover {
	color: white;
	text-decoration: none;
}

/*Bottom Half*/
.pink-content-wrapper {
	position: absolute;
	width: 100%;
	background-color: rgb(203,85,153);
	color: white;
}

.bottom-title-wrapper {
	text-align: center;
	margin-top: 65px;
}

.bottom-title-text {
	color: white;
	font-size: 37px;
}

.credits-wrapper {
	margin: 10px auto 50px auto;
	width: 968px;
	text-align: left;
}

.credit {
	display: inline-block;
	padding: 50px 20px;
	text-align: center;
	width: 320px;
}

.credit-name {
	font-size: 25px;
}

.credit-description {
	font-size: 21px;
}

/*Media Queries*/
/* Smaller Devices */
@media only screen and (max-width: 650px) {
    .credits-wrapper {
    	width: 320px;
    }

    .credit {
    	padding: 15px 20px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 650px) {
	.monitor-img {
    	width: 350px;
    }

    .monitor-img-wrapper {
    	display: block;
    }

    .credits-wrapper {
    	width: 644px;
    }

    .credit {
    	padding: 15px 20px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 987px) {
	.monitor-img {
    	width: 457px;
    }

    .monitor-img-wrapper {
    	display: inline-block;
    }

    .credits-wrapper {
    	width: 968px;
    }
}

