/* @import url('normalize.css'); */
/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Cherry+Swash:700);

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans Condensed','Arial Narrow', serif;
	/*background: #ddd url(../images/wood_background.jpg) repeat top left;*/
	/*background: #fbf7c3;*/
	background: url(../images/diagonal_striped_brick.png) repeat;
	font-weight: 400;
	font-size: 15px;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	margin: 0;
	overflow: hidden;
}
a{
	color: #555;
	text-decoration: none;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}


.main-title{
	float:left;
	z-index: -1;
	width: 50%;
	padding: 20px 40px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}
.main-title h1{
	font-size: 45px;
	line-height: 52px;
	font-weight: 300;
	color: #4f2d00;
	font-family: 'Cherry Swash', cursive;
}
.main-title h1 strong{
	font-weight: 700;
}
.main-title p{
	font-size: 18px;
	color:  #8A8A8A;
}

.main-title h1{
	display: inline;
	position: relative;
	font: 60px Helvetica, Sans-Serif;
	letter-spacing: -2px;
	color: #8A8A8A;
}

.main-title h1:after{
	content: "Patricia Masigla";
	position: absolute; left: 3px; top: 3px; 
	color: #04C4A4;   
}

.main-title h2{
	display: inline;
	position: relative;
	font: 60px Helvetica, Sans-Serif;
	letter-spacing: -2px;
	color: #8A8A8A;
}

.main-title h2:after{
	content: "Web Developer";
	position: absolute; left: 3px; top: 3px;
	color: #04C4A4;  
}

.main-title h3{
	display: inline;
	position: relative;
	font: 60px Helvetica, Sans-Serif;
	letter-spacing: -2px;
	color: #8A8A8A;
}

.main-title h3:after{
	content: "and Aspiring";
	position: absolute; left: 3px; top: 3px;
	color: #04C4A4;    
}

.main-title h4{
	display: inline;
	position: relative;
	font: 60px Helvetica, Sans-Serif;
	letter-spacing: -2px;
	color: #8A8A8A;
}

.main-title h4:after{
	content: "Information";
	position: absolute; left: 3px; top: 3px;
	color: #04C4A4;   
}

.main-title h5{
	display: inline;
	position: relative;
	font: 60px Helvetica, Sans-Serif;
	letter-spacing: -2px;
	color: #8A8A8A;
}

.main-title h5:after{
	content: "Systems Analyst";
	position: absolute; left: 3px; top: 3px;
	color: #04C4A4;  
}
/*
.main-title h1 { margin: 0 0 3px 0; }
.main-title h1 { color: white; font: bold 52px Helvetica, Arial, Sans-Serif;
		       text-shadow: 1px 1px #fe4902, 2px 2px #fe4902, 3px 3px #fe4902;
		}
.main-title h1:hover {
		    position: relative; top: -3px; left: -3px; 
		    text-shadow: 1px 1px #fe4902, 2px 2px #fe4902, 3px 3px #fe4902, 4px 4px #fe4902, 5px 5px #fe4902, 6px 6px #fe4902;
		}

*/



