<!DOCTYPE html>
<html>
	<head>
		<!--Style-->
		<link rel="stylesheet" type="text/css" href="style.css"/>

		<!--jQuery-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<!--Bootstrap-->
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
		<script type="text/javascript" src="../js/bootstrap.min.js"></script>

		<!--Angular-->
		<script type="text/javascript" src="../js/angular.min.js"></script>

		<!--deckOfCards js-->
		<script type="text/javascript" src="deckOfCards.js"></script>

		<title>Deck of Cards</title>
	</head>
	<body ng-app="deckApp" ng-controller="deckController as deckCon">
		<div class="container">
			<div class="col-md-6 col-md-offset-3">

				<!--title-->
				<div class="page-header">
					<h1><span class="glyphicon glyphicon-tower"></span> Deck of Cards! <span class="glyphicon glyphicon-tower"></span></h1>
				</div>

				<!--Buttons-->
				<div class="buttons-row">
					<button class="btn btn-primary" data-toggle="modal" data-target="#create_deck_modal">Create Deck</button>
					<button class="btn btn-primary" ng-click="deckCon.shuffle()">Shuffle Deck</button>
				</div>

			</div>

			<!--DISPLAY CARDS HERE-->
			<div class="col-md-12">
				<div class="col-md-2" ng-repeat="cards in deckCon.deck" id="card">

					<div id="top-suit">
						<span>{{ cards.value }}</span><br/>
						<p id="stars" ng-if=" cards.suit == 'Stars'"><span class="glyphicon glyphicon-star"></span></p>
						<p id="towers" ng-if=" cards.suit == 'Towers'"><span class="glyphicon glyphicon-tower"></span></p>
						<p id="hearts" ng-if=" cards.suit == 'Hearts'"><span class="glyphicon glyphicon-heart"></span></p>
						<p id="trees" ng-if=" cards.suit == 'Trees'"><span class="glyphicon glyphicon-tree-conifer"></p>
					</div>

					<div id="center-suit">
						<p id="stars" ng-if=" cards.suit == 'Stars'"><span class="glyphicon glyphicon-star"></span></p>
						<p id="towers" ng-if=" cards.suit == 'Towers'"><span class="glyphicon glyphicon-tower"></span></p>
						<p id="hearts" ng-if=" cards.suit == 'Hearts'"><span class="glyphicon glyphicon-heart"></span></p>
						<p id="trees" ng-if=" cards.suit == 'Trees'"><span class="glyphicon glyphicon-tree-conifer"></p>
					</div>

					<div id="bottom-suit">
						<span>{{ cards.value }}</span><br/>
						<p id="stars" ng-if=" cards.suit == 'Stars'"><span class="glyphicon glyphicon-star"></span></p>
						<p id="towers" ng-if=" cards.suit == 'Towers'"><span class="glyphicon glyphicon-tower"></span></p>
						<p id="hearts" ng-if=" cards.suit == 'Hearts'"><span class="glyphicon glyphicon-heart"></span></p>
						<p id="trees" ng-if=" cards.suit == 'Trees'"><span class="glyphicon glyphicon-tree-conifer"></p>
					</div>

				</div>
			</div>
		</div>


		<!--Create deck modal-->
		<div class="modal fade" id="create_deck_modal" tabindex="-1" role="dialog" aria-labelledby="create_deck_modal" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">

		        	<!--Modal Header-->
		            <div class="modal-header">
		            	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
		            	<h4 class="modal-title">Create Deck</h4>
		            </div>

		            <form method="post" ng-submit="deckCon.createDeck(formData.size)">

			            <div class="modal-body" id="create_deck_form">
			            	<label>How many cards in the deck? (<= 52) <input id="size_input" ng-model="formData.size" type="number" placeholder="" class="form-control" required/></label>
			               
			            </div>

			            <div class="modal-footer">
			                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			                <button type="submit" class="btn btn-primary">Create Deck!</button>
			        	</div>

			        </form>

		    	</div>
		  	</div>
		</div>
	</body>
</html>
