body{
	margin-top:13%;
}

.page-header, #problem{
	text-align:center;
}

#card{
	height:250px;
	border: 1px solid gray;
	border-radius:12px;
	margin:18px;
	-webkit-box-shadow: 6px 5px 5px 0px rgba(0, 0, 0, 0.34);
	-moz-box-shadow: 6px 5px 5px 0px rgba(0, 0, 0, 0.34);
	box-shadow: 6px 5px 5px 0px rgba(0, 0, 0, 0.34);
}

#top-suit{
	margin-top: 2%;
	width: 20%;
	text-align: center;
}

#center-suit{
	text-align: center;
	margin-top: 43%;
}

#bottom-suit{
	float: right;
	margin-top: 27%;
	text-align: center;
}

.glyphicon{
	font-size:22px;
}

#towers, #stars{
	color: black;
}

#trees, #hearts{
	color: red;
}

.buttons-row{
	text-align:center;
}

/*MODAL*/
#create_deck_modal{
	margin-top:10%;
}

#create_deck_form{
	text-align:center;
}

#create_deck_modal > div{
	width:25%;
}
