@import "../variables";

.header__container {
	align-items: center;
	background-color: @purple;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	display: flex;
	padding: 10px 20px;

	.header__left {
		align-items: center;
		cursor: pointer;
		display: flex;
		width: 50%;

		.header__propic {
			display: flex;
			margin-right: 5px;

			-webkit-transition: all 1s ease;
			transition: all 1s ease;
		}

		.header__image {
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			border-radius: 100%;
			height: 50px;
		}

		.header__name {
			color: @off-white;
			font-size: 1.56em;
		}

		&.header__left--in-action {
			.header__propic {
				-webkit-animation: spin 1s cubic-bezier(.67,.34,.51,.75);
				-moz-animation: spin 1s cubic-bezier(.67,.34,.51,.75);
				-ms-animation: spin 1s cubic-bezier(.67,.34,.51,.75);
				animation: spin 1s cubic-bezier(.67,.34,.51,.75);
			}
		}
	}

	.header__right {
		text-align: right;
		width: 50%;

		.header__description {
			color: @off-white;
			font-size: 1.38em;
		}
	}
}


.header__triangle {
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 13px solid @light-gray;
	height: 0;
	margin-left: 32px;
	margin-top: -8px;
	position: absolute;
	z-index: 2;
	width: 0;
}

.header__warning {
	align-items: center;
	background-color: @light-gray;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	color: @dark-gray;
	display: flex;
	height: 50px;
	justify-content: space-around;
	margin-top: 5px;
	margin-left: 15px;
	position: absolute;
	text-align: center;
	width: 240px;
}

/* Spinning the sphere using key frames */
@-ms-keyframes spin {
	from { -ms-transform: rotate(0deg); }
	to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

/*
* Media Queries
*/
@media (max-width: 600px) {
	.header__container {
		.header__left .header__name {
			font-size: 1.3em;
		}

		.header__right .header__description {
			font-size: .8em;

			span {
				display: block;
			}
		}
	}
}
