@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
    margin: 0; padding: 0; border: 0;
}

body {
    font: 18px/30px Sans-serif; color: black;
}

section {
    overflow-x: hidden; height: 940px;
}

.image {  
    height:250px;
}


#may_2014 { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: url('images/may_2014_bg.jpg');
}

    .may_2014_house{
        position:absolute;
        right:60px;
    }

#april { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: url('images/orange.png');
}

    .april_1{
        position:absolute; top: 10px; left:100px;
        z-index:-9999px;
        transform:rotate(-7deg);
        -ms-transform:rotate(-7deg); /* IE 9 */
        -webkit-transform:rotate(-7deg); /* Opera, Chrome, and Safari */
    }

    .april_2{
        position:absolute; top: 210px; left:55px;
        z-index:-9999px;
        transform:rotate(7deg);
        -ms-transform:rotate(7deg); /* IE 9 */
        -webkit-transform:rotate(7deg);
    }

    .april_3{
        position:absolute; top: 60px; right:100px;
         z-index:-9999px;
        transform:rotate(10deg);
        -ms-transform:rotate(10deg); /* IE 9 */
        -webkit-transform:rotate(10deg);
    }

    .april_4{
        position:absolute; top: 300px; right:100px;
         z-index:-9999px;
        transform:rotate(-15deg);
        -ms-transform:rotate(-15deg); /* IE 9 */
        -webkit-transform:rotate(-15deg);
    }

    .april_5{
         position:absolute; top: 200px; right:300px;
         z-index:-9999px;
        transform:rotate(-5deg);
        -ms-transform:rotate(-5deg); /* IE 9 */
        -webkit-transform:rotate(-5deg);
    }

#march { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: url("images/teal.png");
}
    .march_1{
        position:absolute; top:50px;
        z-index:-9999px;
        transform:rotate(-10deg);
        -ms-transform:rotate(-10deg); /* IE 9 */
        -webkit-transform:rotate(-10deg);
    }

    .march_2{
        position:absolute; top:380px; right:50px;
        z-index:-9999px;
        transform:rotate(10deg);
        -ms-transform:rotate(10deg); /* IE 9 */
        -webkit-transform:rotate(10deg);
    }

#february { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: url("images/pink.png");
}

    .february_1{
        position:absolute; top:380px; left:30px;
        z-index:-9999px;
        transform:rotate(-10deg);
        -ms-transform:rotate(-10deg); /* IE 9 */
        -webkit-transform:rotate(-10deg);
    }

    .february_2{
        position:absolute; top:200px; left:50px;
        z-index:-9999px;
        transform:rotate(3deg);
        -ms-transform:rotate(3deg); /* IE 9 */
        -webkit-transform:rotate(3deg);
    }

    .february_3{
        position:absolute; top:-10px; left:70px;
        z-index:-9999px;
        transform:rotate(-3deg);
        -ms-transform:rotate(-3deg); /* IE 9 */
        -webkit-transform:rotate(-3deg);
    }

    .february_4{
        position:absolute; top:15px; left:230px;
        z-index:-9999px;
        transform:rotate(10deg);
        -ms-transform:rotate(10deg); /* IE 9 */
        -webkit-transform:rotate(10deg);
    }

    .february_5{
        position:absolute; top:20px; left:430px;
        z-index:-9999px;
        transform:rotate(-5deg);
        -ms-transform:rotate(-5deg); /* IE 9 */
        -webkit-transform:rotate(-5deg);
    }

    .february_6{
        position:absolute; top:15px; right:410px;
        z-index:-9999px;
        transform:rotate(6deg);
        -ms-transform:rotate(6deg); /* IE 9 */
        -webkit-transform:rotate(6deg);
    }

    .february_7{
        position:absolute; top:19px; right:210px;
        z-index:-9999px;
        transform:rotate(-4deg);
        -ms-transform:rotate(-4deg); /* IE 9 */
        -webkit-transform:rotate(-4deg);
    }

    .february_8{
        position:absolute; top:40px; right:40px;
        z-index:-9999px;
        transform:rotate(10deg);
        -ms-transform:rotate(10deg); /* IE 9 */
        -webkit-transform:rotate(10deg);
    }

    .february_9{
        position:absolute; top:270px; right:20px;
        z-index:-9999px;
        transform:rotate(-9deg);
        -ms-transform:rotate(-9deg); /* IE 9 */
        -webkit-transform:rotate(-9deg);
    }

    .february_10{
        position:absolute; top:440px; right:20px;
        z-index:-9999px;
        transform:rotate(5deg);
        -ms-transform:rotate(5deg); /* IE 9 */
        -webkit-transform:rotate(5deg);
    }

#january { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: url("images/wet_snow.png");
}

    .january_1{
        position:absolute; top:10px; right:20px;
        z-index:-9999px;
        transform:rotate(5deg);
        -ms-transform:rotate(5deg); /* IE 9 */
        -webkit-transform:rotate(5deg);
    }

    .january_2{
        position:absolute; top:60px; right:140px;
        z-index:-9999px;
        transform:rotate(-7deg);
        -ms-transform:rotate(-7deg); /* IE 9 */
        -webkit-transform:rotate(-7deg);
    }

    .january_3{
        position:absolute; top:175px; right:5px;
        z-index:-9999px;
        transform:rotate(2deg);
        -ms-transform:rotate(2deg); /* IE 9 */
        -webkit-transform:rotate(2deg);
    }

    .january_4{
        position:absolute; top:220px; right:160px;
        z-index:-9999px;
        transform:rotate(-9deg);
        -ms-transform:rotate(-9deg); /* IE 9 */
        -webkit-transform:rotate(-9deg);
    }

    .january_5{
        position:absolute; top:320px; right:10px;
        z-index:-9999px;
        transform:rotate(9deg);
        -ms-transform:rotate(9deg); /* IE 9 */
        -webkit-transform:rotate(9deg);
    }

    .january_6{
        position:absolute; top:340px; right:180px;
        z-index:-9999px;
        transform:rotate(-6deg);
        -ms-transform:rotate(-6deg); /* IE 9 */
        -webkit-transform:rotate(-6deg);
    }

    .january_7{
        position:absolute; top:480px; right:120px;
        z-index:-9999px;
        transform:rotate(1deg);
        -ms-transform:rotate(1deg); /* IE 9 */
        -webkit-transform:rotate(1deg);
    }

#december { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: url("images/christmas.jpg");
}
    
    .december_1{
        position:absolute; top:400px; left:160px;
        z-index:-9999px;
        transform:rotate(0deg);
        -ms-transform:rotate(0deg); /* IE 9 */
        -webkit-transform:rotate(0deg);
    }

    .december_2{
        position:absolute; top:400px; left:410px;
        z-index:-9999px;
        transform:rotate(0deg);
        -ms-transform:rotate(0deg); /* IE 9 */
        -webkit-transform:rotate(0deg);
    }

    .december_3{
        position:absolute; top:400px; right:410px;
        z-index:-9999px;
        transform:rotate(0deg);
        -ms-transform:rotate(0deg); /* IE 9 */
        -webkit-transform:rotate(0deg);
    }

    .december_4{
        position:absolute; top:400px; right:160px;
        z-index:-9999px;
        transform:rotate(0deg);
        -ms-transform:rotate(0deg); /* IE 9 */
        -webkit-transform:rotate(0deg);
    }

#november { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: url("images/food.png");
}
    
    .november_1{
        position:absolute; top:20px; left:30px;
        z-index:-9999px;
        transform:rotate(-2deg);
        -ms-transform:rotate(-2deg); /* IE 9 */
        -webkit-transform:rotate(-2deg);
    }

    .november_2{
        position:absolute; top:100px; left:200px;
        z-index:-9999px;
        transform:rotate(8deg);
        -ms-transform:rotate(8deg); /* IE 9 */
        -webkit-transform:rotate(8deg);
    }

    .november_3{
        position:absolute; top:200px; left:50px;
        z-index:-9999px;
        transform:rotate(-10deg);
        -ms-transform:rotate(-10deg); /* IE 9 */
        -webkit-transform:rotate(-10deg);
    }

    .november_4{
        position:absolute; top:300px; /*left:300px;*/
        z-index:-9999px;
        transform:rotate(-7deg);
        -ms-transform:rotate(-7deg); /* IE 9 */
        -webkit-transform:rotate(-7deg);
    }

    .november_5{
        position:absolute; left:120px;
        z-index:-9999px;
        transform:rotate(7deg);
        -ms-transform:rotate(7deg); /* IE 9 */
        -webkit-transform:rotate(7deg);
    }

#october { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: url("images/blue.png");
}

    .october_1{
        position:absolute; top:20px;
        z-index:-9999px;
    }

    .october_2{
        position:absolute; left:424px;
        z-index:-9999px;
    }

    .october_3{
        position:absolute; right:390px;
        z-index:-9999px;
    }

    .october_4{
        position:absolute; top:20px;
        z-index:-9999px;
    }

#september { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: url("images/purty_wood.png");
}

    .september_1{
        position:absolute; left:150px;
        z-index:-9999px;
        transform:rotate(-10deg);
        -ms-transform:rotate(-10deg); /* IE 9 */
        -webkit-transform:rotate(-10deg);
    }

    .september_2{
        position:absolute; top:230px; 
        z-index:-9999px;
        transform:rotate(10deg);
        -ms-transform:rotate(10deg); /* IE 9 */
        -webkit-transform:rotate(10deg);
    }

    .september_3{
        position:absolute; left:150px;
        z-index:-9999px;
        transform:rotate(-10deg);
        -ms-transform:rotate(-10deg); /* IE 9 */
        -webkit-transform:rotate(-10deg);
    }

#august { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: url("images/wall4.png");
}

    .august_1{
        position:absolute; left: 540px;
        z-index:-9999px;
        transform:rotate(5deg);
        -ms-transform:rotate(5deg); /* IE 9 */
        -webkit-transform:rotate(5deg);
    }

    .august_2{
        position:absolute; right:290px;
        z-index:-9999px;
        transform:rotate(-10deg);
        -ms-transform:rotate(-10deg); /* IE 9 */
        -webkit-transform:rotate(-10deg);
    }

    .august_3{
        position:absolute; left:120px;
        z-index:-9999px;
        transform:rotate(-10deg);
        -ms-transform:rotate(-10deg); /* IE 9 */
        -webkit-transform:rotate(-10deg);
    }

    .august_4{
        position:absolute; top:420px;
        z-index:-9999px;
        transform:rotate(-3deg);
        -ms-transform:rotate(-3deg); /* IE 9 */
        -webkit-transform:rotate(-3deg);
    }

    .august_5{
        position:absolute; top:420px;
        z-index:-9999px;
        transform:rotate(7deg);
        -ms-transform:rotate(7deg); /* IE 9 */
        -webkit-transform:rotate(7deg);
    }

#july { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: url("images/lime_green.png");
}
    .july_1{
        position:absolute; top:20px;
        z-index:-9999px;
        transform:rotate(-4deg);
        -ms-transform:rotate(-4deg); /* IE 9 */
        -webkit-transform:rotate(-4deg);
    }

    .july_2{
        position:absolute; top:20px;
        z-index:-9999px;
        transform:rotate(8deg);
        -ms-transform:rotate(8deg); /* IE 9 */
        -webkit-transform:rotate(8deg);
    }

    .july_3{
        position:absolute; left:20px;
        z-index:-9999px;
        transform:rotate(3deg);
        -ms-transform:rotate(3deg); /* IE 9 */
        -webkit-transform:rotate(3deg);
    }

    .july_4{
        position:absolute; right:30px;
        z-index:-9999px;
        transform:rotate(-2deg);
        -ms-transform:rotate(-2deg); /* IE 9 */
        -webkit-transform:rotate(-2deg);
    }

#june { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: url("images/starring.png");
}

    .june_1{
        position:absolute; top:380px;
        z-index:-9999px;
        transform:rotate(-10deg);
        -ms-transform:rotate(-10deg); /* IE 9 */
        -webkit-transform:rotate(-10deg);
    }

    .june_2{
        position:absolute; top:200px;
        z-index:-9999px;
        transform:rotate(3deg);
        -ms-transform:rotate(3deg); /* IE 9 */
        -webkit-transform:rotate(3deg);
    }

   /* .june_3{
        position:absolute; top:20px; left:30px;
        z-index:-9999px;
        transform:rotate(5deg);
        -ms-transform:rotate(5deg); 
        -webkit-transform:rotate(5deg);
    }*/

    .june_4{
        position:absolute; top:20px;
        z-index:-9999px;
        transform:rotate(-5deg);
        -ms-transform:rotate(-5deg); /* IE 9 */
        -webkit-transform:rotate(-5 deg);
    }

   /* .june_5{
        position:absolute; top:20px; left:430px;
        z-index:-9999px;
        transform:rotate(-5deg);
        -ms-transform:rotate(-5deg);
        -webkit-transform:rotate(-5deg);
    }
*/
    .june_6{
        position:absolute; top:15px; right:60px;
        z-index:-9999px;
        transform:rotate(6deg);
        -ms-transform:rotate(6deg); /* IE 9 */
        -webkit-transform:rotate(6deg);
    }

    .june_7{
        position:absolute; top:190px; right:60px;
        z-index:-9999px;
        transform:rotate(-4deg);
        -ms-transform:rotate(-4deg); /* IE 9 */
        -webkit-transform:rotate(-4deg);
    }

    .june_8{
        position:absolute; right:65px;
        z-index:-9999px;
        transform:rotate(10deg);
        -ms-transform:rotate(10deg); /* IE 9 */
        -webkit-transform:rotate(10deg);
    }

   /* .june_9{
        position:absolute; top:270px; right:40px;
        z-index:-9999px;
        transform:rotate(-9deg);
        -ms-transform:rotate(-9deg); 
        -webkit-transform:rotate(-9deg);
    }*/

#may_2013 { 
    /*background: #c3c2c1 url(images/intro-bg.jpg) left no-repeat; */
    background: url("images/notebook.png");
}   

    .may_1{
        position:absolute; top:190px; right:60px;
        z-index:-9999px;
        transform:rotate(-4deg);
        -ms-transform:rotate(-4deg); /* IE 9 */
        -webkit-transform:rotate(-4deg);
    }

    .may_2{
        position:absolute; top:380px; right:460px;
        z-index:-9999px;
        transform:rotate(-4deg);
        -ms-transform:rotate(-4deg); /* IE 9 */
        -webkit-transform:rotate(-4deg);
    }

    .may_3{
        position:absolute; top:390px; left:100px;
        z-index:-9999px;
        transform:rotate(-4deg);
        -ms-transform:rotate(-4deg); /* IE 9 */
        -webkit-transform:rotate(-4deg);
    }


/*Divs*/
.may_2013_div{
    background: black;
    opacity: .8;
    padding: 20px;
    position: absolute;
    top: 50px;
    width: 900px;
    left: 30px;
}

.may_2013_div p{
    font-family: 'Roboto slab';
    font-size: 14px;
    line-height: 19px;
    opacity: 1;
    color:white;
}

.may_2013_div h1{
    font-family: 'Roboto slab';
    line-height:4px;
    opacity:1;
    color:white;
}

.may_2013_div h2{
    font-family: 'Roboto slab';
    line-height:22px;
    opacity:2;
    color:white;
}

/*Divs*/
.june_div{
    background: white;
    opacity: .7;
    width: 500px;
    padding: 20px;
    position: absolute;
    left: 336px;
    top: 87px;
}    

.june_div p{
    font-family: 'Roboto slab';
    font-size: 14px;
    line-height: 19px;
    opacity: 1;
}

.june_div h1{
    font-family: 'Roboto slab';
}

.june_div h2{
    font-family: 'Roboto slab';
}

.july_div{
    background: white;
    opacity: .8;
    width: 500px;
    padding: 20px;
    position: absolute;
    left: 336px;
    top: 67px;
}    

.july_div p{
    font-family: 'Roboto slab';
    font-size: 14px;
    line-height: 19px;
    opacity: 1;
}

.july_div h1{
    font-family: 'Roboto slab';
}

.july_div h2{
    font-family: 'Roboto slab';
}

/*Divs*/
.august_div{
    background: black;
    opacity: .7;
    padding: 20px;
    position: absolute;
    top: 11px;
    width: 1147px;
    left: 45px;
}    

.august_div p{
    font-family: 'Roboto slab';
    font-size: 14px;
    line-height: 19px;
    opacity: 1;
    color:white;
}

.august_div h1{
    font-family: 'Roboto slab';
    color:white;
    line-height:4px;
}

.august_div h2{
    font-family: 'Roboto slab';
    color:white;
    line-height:22px;
}

/*Divs*/
.september_div{
    background: white;
    opacity: .8;
    padding: 20px;
    position: absolute;
    top: 100px;
    width: 600px;
    right:104px;
}    

.september_div p{
    font-family: 'Roboto slab';
    font-size: 14px;
    line-height: 19px;
    opacity: 1;
}

.september_div h1{
    font-family: 'Roboto slab';
    line-height:4px;
    opacity:1;
}

.september_div h2{
    font-family: 'Roboto slab';
    line-height:22px;
    opacity:2;
}

/*Divs*/
.october_div{
    background: white;
    opacity: .8;
    padding: 20px;
    position: absolute;
    top: 283px;
    width: 1187px;
    left:20px;
}    

.october_div p{
    font-family: 'Roboto slab';
    font-size: 14px;
    line-height: 19px;
    opacity: 1;
}

.october_div h1{
    font-family: 'Roboto slab';
    line-height:4px;
    opacity:1;
}

.october_div h2{
    font-family: 'Roboto slab';
    line-height:22px;
    opacity:2;
}

/*Divs*/
.november_div{
    background: white;
    opacity: .8;
    padding: 20px;
    position: absolute;
    top: 100px;
    width: 600px;
    right:50px;
}    

.november_div p{
    font-family: 'Roboto slab';
    font-size: 14px;
    line-height: 19px;
    opacity: 1;
}

.november_div h1{
    font-family: 'Roboto slab';
    line-height:4px;
    opacity:1;
}

.november_div h2{
    font-family: 'Roboto slab';
    line-height:22px;
    opacity:2;
}

/*Divs*/
.december_div{
    background: black;
    opacity: .8;
    padding: 20px;
    position: absolute;
    top: 40px;
    width: 900px;
    left: 170px;
}

.december_div p{
    font-family: 'Roboto slab';
    font-size: 14px;
    line-height: 19px;
    opacity: 1;
    color:white;
}

.december_div h1{
    font-family: 'Roboto slab';
    line-height:4px;
    opacity:1;
    color:white;
}

.december_div h2{
    font-family: 'Roboto slab';
    line-height:22px;
    opacity:2;
    color:white;
}

/*Divs*/
.january_div{
    background: black;
    opacity: .8;
    padding: 20px;
    position: absolute;
    top: 80px;
    width: 750px;
    left: 20px;
}

.january_div p{
    font-family: 'Roboto slab';
    font-size: 14px;
    line-height: 19px;
    opacity: 1;
    color:white;
}

.january_div h1{
    font-family: 'Roboto slab';
    line-height:4px;
    opacity:1;
    color:white;
}

.january_div h2{
    font-family: 'Roboto slab';
    line-height:22px;
    opacity:2;
    color:white;
}

/*Divs*/
.february_div{
    background: white;
    opacity: .8;
    padding: 20px;
    position: absolute;
    top: 284px;
    width: 660px;
    left: 280px;
}    

.february_div p{
    font-family: 'Roboto slab';
    font-size: 14px;
    line-height: 19px;
    opacity: 1;
}

.february_div h1{
    font-family: 'Roboto slab';
    line-height:4px;
    opacity:1;
}

.february_div h2{
    font-family: 'Roboto slab';
    line-height:22px;
    opacity:2;
}

/*Divs*/
.march_div{
    background: white;
    opacity: .8;
    padding: 20px;
    position: absolute;
    top: 60px;
    width: 550px;
    left: 370px;
}    

.march_div p{
    font-family: 'Roboto slab';
    font-size: 14px;
    line-height: 19px;
    opacity: 1;
}

.march_div h1{
    font-family: 'Roboto slab';
    line-height:4px;
    opacity:1;
}

.march_div h2{
    font-family: 'Roboto slab';
    line-height:22px;
    opacity:2;
}

/*Divs*/
.april_div{
    background: white;
    opacity: .8;
    padding: 20px;
    position: absolute;
    top: 70px;
    width: 500px;
    left: 318px;
}    

.april_div p{
    font-family: 'Roboto slab';
    font-size: 14px;
    line-height: 19px;
    opacity: 1;
}

.april_div h1{
    font-family: 'Roboto slab';
    line-height:4px;
    opacity:1;
}

.april_div h2{
    font-family: 'Roboto slab';
    line-height:22px;
    opacity:2;
}

/*Divs*/
.may_2014_div{
    background: white;
    opacity: .8;
    padding: 20px;
    position: absolute;
    top: 40px;
    width: 700px;
    left: 80px;
}    

.may_2014_div p{
    font-family: 'Roboto slab';
    font-size: 14px;
    line-height: 19px;
    opacity: 1;
}

.may_2014_div h1{
    font-family: 'Roboto slab';
    line-height:4px;
    opacity:1;
}

.may_2014_div h2{
    font-family: 'Roboto slab';
    line-height:22px;
    opacity:2;
}