@font-face {
  font-family: 'st-font-icon';
  src: url('../font/st-font-icon.eot?93068299');
  src: url('../font/st-font-icon.eot?93068299#iefix') format('embedded-opentype'),
       url('../font/st-font-icon.woff?93068299') format('woff'),
       url('../font/st-font-icon.ttf?93068299') format('truetype'),
       url('../font/st-font-icon.svg?93068299#st-font-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'st-font-icon';
    src: url('../font/st-font-icon.svg?93068299#st-font-icon') format('svg');
  }
}
*/
 
 [class^="st-icon-"]:before, [class*=" st-icon-"]:before {
  font-family: "st-font-icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.st-icon-line:before { content: '\e800'; } /* '' */
.st-icon-orientation-portrait:before { content: '\e801'; } /* '' */
.st-icon-orientation-landscape:before { content: '\e802'; } /* '' */
.st-icon-down-arrow-thin:before { content: '\e803'; } /* '' */
.st-icon-a-6_intruder_folded:before { content: '\e804'; } /* '' */
.st-icon-speaker:before { content: '\e805'; } /* '' */
.st-icon-redo:before { content: '\e806'; } /* '' */
.st-icon-stage:before { content: '\e807'; } /* '' */
.st-icon-undo:before { content: '\e808'; } /* '' */
.st-icon-oval-table:before { content: '\e809'; } /* '' */
.st-icon-doubledoor:before { content: '\e80a'; } /* '' */
.st-icon-rocketship:before { content: '\e80b'; } /* '' */
.st-icon-conversion:before { content: '\e80c'; } /* '' */
.st-icon-card-table:before { content: '\e80d'; } /* '' */
.st-icon-chair-single:before { content: '\e80e'; } /* '' */
.st-icon-firehose:before { content: '\e80f'; } /* '' */
.st-icon-checkin:before { content: '\e810'; } /* '' */
.st-icon-half-circle-table:before { content: '\e811'; } /* '' */
.st-icon-circular-shape:before { content: '\e812'; } /* '' */
.st-icon-envelope:before { content: '\e813'; } /* '' */
.st-icon-coat-rack:before { content: '\e814'; } /* '' */
.st-icon-heatlamp:before { content: '\e815'; } /* '' */
.st-icon-serp:before { content: '\e816'; } /* '' */
.st-icon-a-6_intruder_fullwings:before { content: '\e817'; } /* '' */
.st-icon-not-checked:before { content: '\e818'; } /* '' */
.st-icon-menu:before { content: '\e819'; } /* '' */
.st-icon-end-table:before { content: '\e81a'; } /* '' */
.st-icon-sofa-table:before { content: '\e81b'; } /* '' */
.st-icon-not-checked-in:before { content: '\e81c'; } /* '' */
.st-icon-objects:before { content: '\e81d'; } /* '' */
.st-icon-love-seat:before { content: '\e81e'; } /* '' */
.st-icon-high-boy:before { content: '\e81f'; } /* '' */
.st-icon-coffee-table:before { content: '\e820'; } /* '' */
.st-icon-av-cart:before { content: '\e821'; } /* '' */
.st-icon-coral:before { content: '\e822'; } /* '' */
.st-icon-image:before { content: '\e823'; } /* '' */
.st-icon-rect-trash:before { content: '\e824'; } /* '' */
.st-icon-seating-view:before { content: '\e825'; } /* '' */
.st-icon-check:before { content: '\e826'; } /* '' */
.st-icon-right:before { content: '\e827'; } /* '' */
.st-icon-sofa:before { content: '\e828'; } /* '' */
.st-icon-sprinkler:before { content: '\e829'; } /* '' */
.st-icon-a-7_corsair:before { content: '\e82a'; } /* '' */
.st-icon-leftdoor:before { content: '\e82b'; } /* '' */
.st-icon-crescent-table:before { content: '\e82c'; } /* '' */
.st-icon-banana-palm:before { content: '\e82d'; } /* '' */
.st-icon-bar:before { content: '\e82e'; } /* '' */
.st-icon-dance:before { content: '\e82f'; } /* '' */
.st-icon-duplicate:before { content: '\e830'; } /* '' */
.st-icon-square-table:before { content: '\e831'; } /* '' */
.st-icon-rotate-right:before { content: '\e832'; } /* '' */
.st-icon-selection-mode:before { content: '\e833'; } /* '' */
.st-icon-stand:before { content: '\e834'; } /* '' */
.st-icon-filled-table:before { content: '\e835'; } /* '' */
.st-icon-service-view:before { content: '\e836'; } /* '' */
.st-icon-armchair:before { content: '\e837'; } /* '' */
.st-icon-dancefloor:before { content: '\e838'; } /* '' */
.st-icon-bar-stool:before { content: '\e839'; } /* '' */
.st-icon-barcart:before { content: '\e83a'; } /* '' */
.st-icon-ea-6b_prowler_folded:before { content: '\e83b'; } /* '' */
.st-icon-dessert-table:before { content: '\e83c'; } /* '' */
.st-icon-mic:before { content: '\e83d'; } /* '' */
.st-icon-stairs:before { content: '\e83e'; } /* '' */
.st-icon-triangle-up:before { content: '\e83f'; } /* '' */
.st-icon-settings:before { content: '\e840'; } /* '' */
.st-icon-plane:before { content: '\e841'; } /* '' */
.st-icon-phone:before { content: '\e842'; } /* '' */
.st-icon-bar-graph:before { content: '\e843'; } /* '' */
.st-icon-zoom-in:before { content: '\e844'; } /* '' */
.st-icon-supportstaff:before { content: '\e845'; } /* '' */
.st-icon-ottoman:before { content: '\e846'; } /* '' */
.st-icon-dj-band:before { content: '\e847'; } /* '' */
.st-icon-bench:before { content: '\e848'; } /* '' */
.st-icon-beverage-station:before { content: '\e849'; } /* '' */
.st-icon-tent:before { content: '\e84a'; } /* '' */
.st-icon-zoom-out:before { content: '\e84b'; } /* '' */
.st-icon-cloud:before { content: '\e84c'; } /* '' */
.st-icon-monitor:before { content: '\e84d'; } /* '' */
.st-icon-ea-6b_prowler_fullwings:before { content: '\e84e'; } /* '' */
.st-icon-multiple-people:before { content: '\e84f'; } /* '' */
.st-icon-templates:before { content: '\e850'; } /* '' */
.st-icon-close:before { content: '\e851'; } /* '' */
.st-icon-text:before { content: '\e852'; } /* '' */
.st-icon-photo-booth:before { content: '\e853'; } /* '' */
.st-icon-buffet:before { content: '\e854'; } /* '' */
.st-icon-drapes:before { content: '\e855'; } /* '' */
.st-icon-cactus:before { content: '\e856'; } /* '' */
.st-icon-easel:before { content: '\e857'; } /* '' */
.st-icon-piano:before { content: '\e858'; } /* '' */
.st-icon-theatre:before { content: '\e859'; } /* '' */
.st-icon-triangle-down:before { content: '\e85a'; } /* '' */
.st-icon-closed-book:before { content: '\e85b'; } /* '' */
.st-icon-face-sunglasses:before { content: '\e85c'; } /* '' */
.st-icon-delete:before { content: '\e85d'; } /* '' */
.st-icon-tradeshow:before { content: '\e85e'; } /* '' */
.st-icon-podium:before { content: '\e85f'; } /* '' */
.st-icon-electric:before { content: '\e860'; } /* '' */
.st-icon-eka-3_skywarrior:before { content: '\e861'; } /* '' */
.st-icon-cake:before { content: '\e862'; } /* '' */
.st-icon-car:before { content: '\e863'; } /* '' */
.st-icon-fan-palm:before { content: '\e864'; } /* '' */
.st-icon-projector:before { content: '\e865'; } /* '' */
.st-icon-tv:before { content: '\e866'; } /* '' */
.st-icon-design-view:before { content: '\e867'; } /* '' */
.st-icon-promote:before { content: '\e868'; } /* '' */
.st-icon-thumbs-up:before { content: '\e869'; } /* '' */
.st-icon-electric-bolt:before { content: '\e86a'; } /* '' */
.st-icon-simple:before { content: '\e86b'; } /* '' */
.st-icon-book:before { content: '\e86c'; } /* '' */
.st-icon-uplight:before { content: '\e86d'; } /* '' */
.st-icon-rect-table:before { content: '\e86e'; } /* '' */
.st-icon-fern:before { content: '\e86f'; } /* '' */
.st-icon-fire-extinguisher:before { content: '\e870'; } /* '' */
.st-icon-bar-back:before { content: '\e871'; } /* '' */
.st-icon-arrow:before { content: '\e872'; } /* '' */
.st-icon-down:before { content: '\e873'; } /* '' */
.st-icon-f-14_tomcat_fullwings:before { content: '\e874'; } /* '' */
.st-icon-everyday_schoolday:before { content: '\e875'; } /* '' */
.st-icon-star:before { content: '\e876'; } /* '' */
.st-icon-leaf:before { content: '\e877'; } /* '' */
.st-icon-heart:before { content: '\e878'; } /* '' */
.st-icon-airport:before { content: '\e879'; } /* '' */
.st-icon-chaise:before { content: '\e87a'; } /* '' */
.st-icon-search:before { content: '\e87b'; } /* '' */
.st-icon-visualize:before { content: '\e87c'; } /* '' */
.st-icon-rotate-left:before { content: '\e87d'; } /* '' */
.st-icon-checked-in:before { content: '\e87e'; } /* '' */
.st-icon-support-staff-view:before { content: '\e87f'; } /* '' */
.st-icon-circle-table-tab:before { content: '\e880'; } /* '' */
.st-icon-rectangle-column:before { content: '\e881'; } /* '' */
.st-icon-circle-table:before { content: '\e882'; } /* '' */
.st-icon-flag:before { content: '\e883'; } /* '' */
.st-icon-rectangular-shape:before { content: '\e884'; } /* '' */
.st-icon-attendees:before { content: '\e885'; } /* '' */
.st-icon-f4u_corsair_folded:before { content: '\e886'; } /* '' */
.st-icon-f-4_phantom:before { content: '\e887'; } /* '' */
.st-icon-f-8_crusader:before { content: '\e888'; } /* '' */
.st-icon-f4u_corsair_fullwings:before { content: '\e889'; } /* '' */
.st-icon-f9f_panther:before { content: '\e88a'; } /* '' */
.st-icon-f9f-8p_cougar:before { content: '\e88b'; } /* '' */
.st-icon-fire-code-view:before { content: '\e88c'; } /* '' */
.st-icon-h-60_seahawk:before { content: '\e88d'; } /* '' */
.st-icon-ho3s_dragonfly:before { content: '\e88e'; } /* '' */
.st-icon-lighting-truss:before { content: '\e88f'; } /* '' */
.st-icon-statistics:before { content: '\e890'; } /* '' */
.st-icon-ra-5_vigilante:before { content: '\e891'; } /* '' */
.st-icon-tbm_avenger_folded:before { content: '\e892'; } /* '' */
.st-icon-tbm_avenger_fullwings:before { content: '\e893'; } /* '' */
.st-icon-rightdoor:before { content: '\e894'; } /* '' */
.st-icon-flipchart:before { content: '\e895'; } /* '' */
.st-icon-circle-trash:before { content: '\e896'; } /* '' */
.st-icon-circular-column:before { content: '\e897'; } /* '' */
.st-icon-gift:before { content: '\e898'; } /* '' */
.st-icon-riser:before { content: '\e899'; } /* '' */
.st-icon-3d:before { content: '\e89a'; } /* '' */
.st-icon-lock:before { content: '\e89b'; } /* '' */
.st-icon-checked:before { content: '\e89c'; } /* '' */
.st-icon-rope-stanchion:before { content: '\e89d'; } /* '' */
.st-icon-a-1_skyraider:before { content: '\e89e'; } /* '' */
.st-icon-a-4_skyhawk:before { content: '\e89f'; } /* '' */
.st-icon-wildcat:before { content: '\e8a0'; } /* '' */
.st-icon-dauntless:before { content: '\e8a1'; } /* '' */
.st-icon-aligned:before { content: '\e8a2'; } /* '' */
.st-icon-classroom:before { content: '\e8a3'; } /* '' */
.st-icon-conf:before { content: '\e8a4'; } /* '' */
.st-icon-hollow:before { content: '\e8a5'; } /* '' */
.st-icon-staggered:before { content: '\e8a6'; } /* '' */
.st-icon-theatre-template:before { content: '\e8a7'; } /* '' */
.st-icon-trade:before { content: '\e8a8'; } /* '' */
.st-icon-u-shape:before { content: '\e8a9'; } /* '' */
.st-icon-unlock:before { content: '\e8aa'; } /* '' */
.st-icon-exit:before { content: '\e8ab'; } /* '' */
.st-icon-font-size:before { content: '\e8ac'; } /* '' */
.st-icon-ruler:before { content: '\e8ad'; } /* '' */
.st-icon-pyro:before { content: '\e8ae'; } /* '' */
.st-icon-table-numbering:before { content: '\e8af'; } /* '' */
.st-icon-location:before { content: '\e8b0'; } /* '' */
.st-icon-topresults:before { content: '\e8b1'; } /* '' */
.st-icon-list-view:before { content: '\e8b2'; } /* '' */
.st-icon-map-view:before { content: '\e8b3'; } /* '' */
.st-icon-split-view:before { content: '\e8b4'; } /* '' */
.st-icon-thin-rectangle:before { content: '\e8b5'; } /* '' */
.st-icon-thin-circle:before { content: '\e8b6'; } /* '' */
.st-icon-thin-half-circle:before { content: '\e8b7'; } /* '' */
.st-icon-thin-oval:before { content: '\e8b8'; } /* '' */
.st-icon-thin-serp:before { content: '\e8b9'; } /* '' */
.st-icon-thin-square:before { content: '\e8ba'; } /* '' */
.st-icon-arrow-left:before { content: '\e8bb'; } /* '' */
.st-icon-arrow-right:before { content: '\e8bc'; } /* '' */
.st-icon-arrows:before { content: '\e8bd'; } /* '' */
.st-icon-star-empty:before { content: '\e8be'; } /* '' */
.st-icon-resize-full-alt:before { content: '\e8bf'; } /* '' */
.st-icon-cancel-circled:before { content: '\e8c0'; } /* '' */
.st-icon-building:before { content: '\e8c1'; } /* '' */
.st-icon-monitor-empty:before { content: '\e8c2'; } /* '' */
.st-icon-ok-circled:before { content: '\e8c3'; } /* '' */
.st-icon-smartphone:before { content: '\e8c4'; } /* '' */
.st-icon-tablet:before { content: '\e8c5'; } /* '' */
.st-icon-star_filled:before { content: '\e8c6'; } /* '' */
.st-icon-star_outline:before { content: '\e8c7'; } /* '' */
.st-icon-resize-full:before { content: '\e8c8'; } /* '' */
.st-icon-resize-small:before { content: '\e8c9'; } /* '' */
.st-icon-check-thin:before { content: '\e8ca'; } /* '' */
.st-icon-double-arrow-left:before { content: '\e8cb'; } /* '' */
.st-icon-double-arrow-right:before { content: '\e8cc'; } /* '' */
.st-icon-left-open:before { content: '\e8cd'; } /* '' */
.st-icon-right-open:before { content: '\e8ce'; } /* '' */
.st-icon-cluster_icon:before { content: '\e8cf'; } /* '' */
.st-icon-man-woman:before { content: '\e8d0'; } /* '' */
.st-icon-dollar:before { content: '\e8d1'; } /* '' */
.st-icon-bed:before { content: '\e8d2'; } /* '' */
.st-icon-bed_price:before { content: '\e8d3'; } /* '' */
.st-icon-add-thin:before { content: '\e8d4'; } /* '' */
.st-icon-arrow-down-thin:before { content: '\e8d5'; } /* '' */
.st-icon-arrow-left-thin:before { content: '\e8d6'; } /* '' */
.st-icon-arrow-right-thin:before { content: '\e8d7'; } /* '' */
.st-icon-arrow-up-thin:before { content: '\e8d8'; } /* '' */
.st-icon-minus-thin:before { content: '\e8d9'; } /* '' */
.st-icon-live-help:before { content: '\e8da'; } /* '' */
.st-icon-gift-pile:before { content: '\e8db'; } /* '' */
.st-icon-string-lights:before { content: '\e8dc'; } /* '' */
.st-icon-tree:before { content: '\e8dd'; } /* '' */
.st-icon-dock-left:before { content: '\e8de'; } /* '' */
.st-icon-popout:before { content: '\e8df'; } /* '' */
.st-icon-scale-floor:before { content: '\e8e0'; } /* '' */
.st-icon-layers:before { content: '\e8e1'; } /* '' */
.st-icon-eye:before { content: '\e8e2'; } /* '' */